* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #e7e7e7;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}