.team {
  background: white;
  position: relative;
  min-height: 75rem;
  height: auto;
  display: block;

  &__title {
    @include sectionHeading;
    background: $primary-color-team;
    position: absolute;
    text-align: center;
    padding: 10rem 0 20rem 0;
  }

  &__body {
    position: absolute;
    top: 25rem;
    display: flex;
    justify-content: space-between;
    &--1 {
      height: auto;
      padding: 1rem 1rem;
      margin: 0 1rem;
      display: inline-flex;
      flex-direction: column;
      &__icon {
        width: auto;
        padding: 4rem 4rem 1rem 4rem;
        align-self: center;
        color: white;
        background: $primary-color-team;
        text-align: center;
        font-size: 7rem;
        margin: 2rem;
        border: 1rem solid white;
        border-radius: 100rem;
      }
      &__head {
        color: $primary-color-team-text;
        font-family: 'Roboto', 'serif';
        display: block;
        text-align: center;
        font-size: 1.8rem;
      }
      &__message {
        color: #3a3a3a;
        display: block;
        text-align: justify;
        font-family: 'Roboto', 'serif';
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .team {
    height:123rem;
    &__body {
      display: block;
    }
    .team__body--1__icon {
      font-size: 5rem;
      margin: 0rem;
    }
  }
}
@media screen and (max-width: 520px) {
  .team {
    min-height: 130rem;
    &__body {
      display: block;
    }
    .team__body--1__icon {
      font-size: 5rem;
      margin: 0rem;
    }
  }
}


